:root {
  --color-primary: #5ec576;
  --colorSecondry: #ffcb03;
  --color-tertiary: #4bbb7d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  padding: 10px 20px;
  background: goldenrod;
  box-shadow: 2px 4px 8px 2px;
  color: var(--color-primary);
  margin: 20px 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1:first-child {
  margin-top: 5rem;
}
p {
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: var(--color-primary);
  padding: 20px;
  text-align: left;
  font-size: 1.3rem;
  line-height: 2rem;
  margin-top: 1rem;
}
.btn1 {
  padding: 10px 20px;
  text-align: center;
  font-size: 1.4rem;
  text-align: center;
  background: goldenrod;
  color: #fff;
  margin: 10px;
}
img {
  width: 100%;
  height: 500px;
  margin-top: 1rem;
}
ol {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  margin: 0 10px;
  background: goldenrod;
  color: #fff;
  font-size: 1rem;
  padding: 10px 20px;
  margin-top: 1rem;
}
